<div ng-controller = 'TeamsController'>
	<form ng-submit = 'add()'>
		<label>Name:</label>
		<input type = 'text' ng-model = 'newTeam.name' required>
		<input type = 'submit' value = 'Add Team'>
	</form>
	<table class = 'table table-bordered table-striped'>
		<thead>
			<tr>
				<td>
					<a href = '' ng-click = "sortType = 'name'; sortReverse = !sortReverse">Name</a>
					<span ng-show = "sortType == 'name' && !sortReverse">v</span>
					<span ng-show = "sortType == 'name' && sortReverse">^</span>
				</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = 'team in teams | orderBy:sortType:sortReverse track by $index'>
				<td><a href = "#/{{team.name}}" ng-bind = "team.name"></a></td>
				<td><button ng-click = 'remove(team)'>Remove Team</button></td>
			</tr>
		</tbody>
	</table>
</div>